.img_container {
    border-radius: 10px;
    width: 80%;
    height: fit-content;
    box-shadow: 5px 5px 10px rgb(190, 190, 190),
                -5px -5px 10px rgb(190, 190, 190);
    margin: 10px;
}

.img {
    width: 100%;
    height: 90%;
    border-radius: inherit;
}

.img_container > p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.change_butts {
    border-top: 2px solid rgb(160, 160, 160);
    padding: 10px;
}
.change_text_button {
    background: rgb(201, 199, 199);
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.delete_button {
    background: red;
    border-radius: 5px;
    outline: none;
    color: white;
    padding: 10px;
}