.news_content {
    padding: 0 10px;
    width: 100%;
    margin-bottom: 50px;
}
.news_header {
    display: none;
}

.news_page {
    border-left: 4px solid red;
}

.sport_page {
    border-left: 4px solid blue;
}

.entertainment_page {
    border-left: 4px solid black;
}

.reel_page {
    border-left: 4px solid green;
}

.news_content > section {
    padding: 10px 10px 10px 0;
}

.future_page {
    border-left: 4px solid orangered;
}

.travel_page {
    border-left: 4px solid yellow;
}
.news_page,
.travel_page,
.sport_page,
.reel_page,
.future_page,
.entertainment_page {
    margin: 20px 0 20px 10px;
    font-size: 1.4rem;
    padding-left: 10px;
}

.change_set {
    animation: set 0.5s ease-in-out;
    position: relative;
    top: 200px;
}

@keyframes set {
    from {
        top: 20px;
    }
    to {
        top: 200px;
    }
}

.news_set {
    position: relative;
    top: 20px;
    animation: setclose 0.5s ease-in-out;
}

@keyframes setclose {
    from {
        top: 200px;
    }
    to {
        top: 20px;
    }
}

@media (min-width: 400px) {
    .change_set {
        top: 100px;
    }
    
    @keyframes set {
        from {
            top: 20px;
        }
        to {
            top: 100px;
        }
    }
    
    .news_set {
        top: 20px;
    }
    
    @keyframes setclose {
        from {
            top: 100px;
        }
        to {
            top: 20px;
        }
    }
}

@media (min-width: 700px) {
    .news_header {
        display: flex;
        justify-content: space-between;
    }

    .reel_section {
        background-image: linear-gradient(to bottom, rgb(58, 58, 58), rgba(128, 128, 128, 0.281));
    }

    .news_header {
        font-size: 25px;
        font-weight: 700;
    }

    .news_head,
    .reel_head {
        display: flex;
    }

    .future_head {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .date {
        color: grey;
        font-style: italic;
    }

    .headings {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .change_set {
        top: 50px;
    }
    
    @keyframes set {
        from {
            top: 20px;
        }
        to {
            top: 50px;
        }
    }
    
    .news_set {
        top: 20px;
    }
    
    @keyframes setclose {
        from {
            top: 50px;
        }
        to {
            top: 20px;
        }
    }
}